body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0;
    background-color: #000000e0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    background-color: #333;
    color: white;
    padding: 15px;
    padding-right: 60px;
}

header h1 {
    margin: 0;
    padding-left: 60px;
}

nav {
    display: flex;
}

nav a {
    color: white;
    margin: 0 20px;
    text-decoration: none;
}

main {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    background: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, textarea {
    padding: 8px;
    margin-top: 5px;
    width: 100%;
}
